body {
  background-color: #22254b;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}
* {
  box-sizing: border-box;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.movie {
  background-color: #373b69;
  border-radius: 3px;
  box-shadow: 0 4px 5px rgb(0, 0, 0, 0.2);
  margin: 1rem;
  width: 300px;
}
.movie img {
  width: 100%;
}
.movie-detail {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 1px;
}
.movie-detail h3 {
  margin: 0;
}
.movie-detail span {
  background-color: #22254b;
  border-radius: 3px;
  padding: 0.25rem 0.5rem;
}
